# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Data and Outputs (ignore local outputs & raw datasets)
data/inputs/*
!data/inputs/.gitkeep
data/outputs/*
!data/outputs/.gitkeep

# IDEs
.vscode/
.idea/
